p.ex {
    width: 650px;
    font-size: 14pt;
}
a {
	text-decoration: none;
	}
   a:hover {
   	text-decoration: underline;
   }
#form {
	height: 200px; 
	font-size: 15pt; 
	border: 1px solid #999; 
	background-color: #307F4D;

}
#header {
    height: 100px; 
    font-size: 15pt; 
    border: 1px solid #999; 
    background-color: #307F4D;
}
#content {
    font-size: 12pt; 
    border: 1px solid #999; 
    background-color: #307F4D;
}